@model List<RoomCleanerApp.Dtos.HotelDto>
<table class="table">
    <tr>
        <th>City</th>
        <th>Address</th>
        <th></th>
    </tr>
    @foreach(var hotel in @Model)
    { 
        <tr>
            <td>@hotel.City</td>
            <td>@hotel.Hotel.Address</td>
            <td>
                @Html.ActionLink("Update","Update","Hotel", 
                new{hotelid=@hotel.Hotel.Id,form="create"},
                new{@class="btn btn-secondary"})
            </td>
        </tr>
    }
</table>